<div id="bokun-w2147_39176876_cad0_44bd_974b_2168e18486ac">Loading...</div>
<script type="text/javascript">// <![CDATA[
var w2147_39176876_cad0_44bd_974b_2168e18486ac;
(function(d, t) {
  var host = 'widgets.bokun.is';
  var frameUrl = 'https://' + host + '/widgets/2147?bookingChannelUUID=bcef80ec-4797-4aa9-9447-03da40db5eb4&activityId=7820&lang=EN&ccy=ISK&hash=w2147_39176876_cad0_44bd_974b_2168e18486ac';
  var s = d.createElement(t), options = {'host': host, 'frameUrl': frameUrl, 'widgetHash':'w2147_39176876_cad0_44bd_974b_2168e18486ac', 'autoResize':true,'height':'','width':'100%', 'minHeight': 0,'async':true, 'ssl':true, 'affiliateTrackingCode': '' };
  s.src = 'https://' + host + '/assets/javascripts/widgets/embedder.js';
  s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { 
      w2147_39176876_cad0_44bd_974b_2168e18486ac = new BokunWidgetEmbedder(); w2147_39176876_cad0_44bd_974b_2168e18486ac.initialize(options); w2147_39176876_cad0_44bd_974b_2168e18486ac.display();
    } catch (e) {}
  };
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');
// ]]></script>