{{ if .Site.Params.widgets.tour_pics }}
<div class="panel panel-default sidebar-menu">
    <div class="panel-body">
        <div class="image" style="margin-bottom: 0.5em;">
            <img style="width:100%; height:auto; cursor: zoom-in;" src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="">
        </div>
        {{ if .Params.image1 }}
        <div class="image" style="margin-bottom: 0.5em;">
            <img style="width:100%; height:auto; cursor: zoom-in;" src="{{ $.Site.BaseURL}}{{ .Params.image1 }}" class="img-responsive" alt="">
        </div>
        {{ end }}
        {{ if .Params.image2 }}
        <div class="image" style="margin-bottom: 0.5em;">
            <img style="width:100%; height:auto; cursor: zoom-in;" src="{{ $.Site.BaseURL}}{{ .Params.image2 }}" class="img-responsive" alt="">
        </div>
        {{ end }}
        {{ if .Params.image3 }}
        <div class="image" style="margin-bottom: 0.5em;">
            <img style="width:100%; height:auto; cursor: zoom-in;" src="{{ $.Site.BaseURL}}{{ .Params.image3 }}" class="img-responsive" alt="">
        </div>
        {{ end }}
        {{ if .Params.image4 }}
        <div class="image" style="margin-bottom: 0.5em;">
            <img style="width:100%; height:auto; cursor: zoom-in;" src="{{ $.Site.BaseURL}}{{ .Params.image4 }}" class="img-responsive" alt="">
        </div>
        {{ end }}
        {{ if .Params.image5 }}
        <div class="image" style="margin-bottom: 0.5em;">
            <img style="width:100%; height:auto; cursor: zoom-in;" src="{{ $.Site.BaseURL}}{{ .Params.image5 }}" class="img-responsive" alt="">
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
