<div class="container" id="about">
<!-- *** IMAGE MODAL in a top-level position *** -->
        
        <div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <img src="" class="enlargeImageModalSource" data-dismiss="modal" style="width: 100%;">
                </div>
              </div>
            </div>
        </div>
        
        <!-- *** /MODAL *** -->

    <div class="row">
        <div class="col-md-8">

            <section>

                {{ .Content }}

            </section>

        </div>

        <div class="col-md-4">

            {{ partial "sidebar.html" . }}

        </div>

    </div>
    <!-- /.row -->
</div>
