{{ if eq .Title "Golden circle And South Shore Luxury Jeep Tour" }}
    {{ partial "booking/golden-shore.html" . }}
{{end}}

{{ if eq .Title "Northern Lights - Aurora Borealis Tour" }}
    {{ partial "booking/northern-lights.html" . }}
{{end}}

{{ if eq .Title "Volcano Garden Reykjanes Peninsula" }}
    {{ partial "booking/volcano-garden.html" . }}
{{end}}

{{ if eq .Title "Volcano Tour Eyjafjallajokull (E15) View After The Eruption" }}
    {{ partial "booking/volcano-eyjafjallajokull.html" . }}
{{end}}
