{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.testimonials.title }}</h2>
                </div>

                <p class="lead text-center">
                  {{ .Site.Params.testimonials.subtitle | markdownify }}
                </p>

                <!-- *** TESTIMONIALS CAROUSEL *** -->

                <div class="row">

                    <div class="col-md-3 col-sm-6">
                    
<div id="TA_certificateOfExcellence98" class="TA_certificateOfExcellence">
<ul id="O4th42" class="TA_links JbIL15MGcoan">
<li id="RGbUM37aLbb" class="JLm4fHbL">
<a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g608874-d1601526-Reviews-Volcano_Tours-Grindavik_Reykjanes_Peninsula.html"><img src="https://www.tripadvisor.com/img/cdsi/img2/awards/CoE2017_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
</li>
</ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=98&amp;locationId=1601526&amp;lang=en_US&amp;year=2017&amp;display_version=2"></script>



                    </div>
                    
                    
                    <div class="col-md-3 col-sm-6">

                    <div id="TA_excellent701" class="TA_excellent">
<ul id="sFI3BaG" class="TA_links 6Gtor2c9joK">
<li id="B0CmAwXC" class="peaYaZhK">
<a target="_blank" href="https://www.tripadvisor.com/"><img src="https://static.tacdn.com/img2/widget/tripadvisor_logo_115x18.gif" alt="TripAdvisor" class="widEXCIMG" id="CDSWIDEXCLOGO"/></a>
</li>
</ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=excellent&amp;uniq=701&amp;locationId=1601526&amp;lang=en_US&amp;display_version=2"></script>

                    </div>
                    
                    
                    
                    <div class="col-md-3 col-sm-6">

<div id="TA_cdsratingsonlynarrow531" class="TA_cdsratingsonlynarrow">
<ul id="fJTsfPc" class="TA_links f3NdOcO">
<li id="TQgM58jLz0B" class="TKEfdU">
<a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a>
</li>
</ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=531&amp;locationId=1601526&amp;lang=en_US&amp;border=true&amp;display_version=2"></script>


                    </div>
                    
<div class="col-md-3 col-sm-6">
                    
<div id="TA_selfserveprop557" class="TA_selfserveprop">
<ul id="rSjCPYntcXO" class="TA_links aLxH3XmfGos">
<li id="WOeRy7" class="vCzQDtfm">
<a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
</li>
</ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=557&amp;locationId=1601526&amp;lang=en_US&amp;rating=false&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=true&amp;display_version=2"></script>


                    </div>
                    

                </div>
                <!-- /.owl-carousel -->

                <!-- *** TESTIMONIALS CAROUSEL END *** -->
            </div>

        </div>
    </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
